<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Economics Status Prediction</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static',filename='css/scrolling-nav.css') }}" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUYycCvHv-S-j8AjqjCw5Vva6NGAjSmdY"></script>

  <script src="{{ url_for('static',filename='js/map.js') }}"></script>
  <script src="{{ url_for('static',filename='js/searchBar.js') }}"></script>
  <script src="{{ url_for('static',filename='js/init.js') }}"></script>
  <link href="{{ url_for('static',filename='css/map.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/search.css') }}" rel="stylesheet">
  </script>

  <style>
    .btn-group button {}
  </style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">TJHZ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-primary text-white" id="home">
    <div class="container text-center">
      <h1>Welcome to Economics Status Prediction</h1>
      <p class="lead">Enter postal code or address for both actual and predicted income information</p>
    </div>
  </header>

  <section id="explore">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto">
          <div class="input-group mt-3 mb-3" id="search">
            <div class="input-group-prepend">
              <button type="button" id='search-type' class="btn btn-outline-secondary dropdown-toggle postal"
                data-toggle="dropdown">
                Postal
              </button>
              <div class="dropdown-menu">
                <button class="dropdown-item" id='search-type-alt'>Address</a>
              </div>
            </div>
            <input type="text" id='user-input' class="form-control" placeholder="Enter postal code here">

            <div class="input-group-append">
              <button id="search" class="btn btn-primary" type="submit">Go</button> 
            </div>
          </div>
          
          <div id="map" class="map">
          </div>

        </div>
        <div class="col-lg-5 mx-auto">
          <div class="column">
            <canvas id="income-chart" width="100%" height="60"></canvas>
            <script src="{{ url_for('static',filename='js/income-chart.js') }}"></script>
            <canvas id="prediction-chart" width="100%" height="60"></canvas>
            <script src="{{ url_for('static',filename='js/prediction-chart.js') }}"></script>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <h2>Contact us</h2>
          <p class="lead">Huang Linghang:</p>
          <p class="lead">Jiang Yuxin:</p>
          <p class="lead">Tan Yuanhong: leotan.yh@gmail.com</p>
          <p class="lead">Zhang Xiaoyu: zhang.gong.chang3@gmail.com</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
    </div>
    <!-- /.container -->
  </footer>


  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="{{ url_for('static',filename='js/scrolling-nav.js') }}"></script>

</body>

</html>